.lt {
  max-width: 500px; /* Adjusted max-width */
  max-height: 565px; /* Adjusted max-height */
  padding: 100px; /* Adjusted padding */
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: rgba(255, 255, 255, 0.5); /* Transparent white background */
  text-align: center;
  font-family: 'Arial', sans-serif;
  position: relative;
  overflow: hidden;
  animation: moveOutline 3s linear infinite;
}

.lt:hover {
  animation: moveOutline 3s linear infinite, shine 1.5s linear infinite;
}

h2 {
  color: #333;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 10px !important; /* Adjusted margin with !important */
  color: #c79f9f;
}

label {
  display: block;
  margin-bottom: 1px !important; /* Adjusted margin with !important */
  color: #baa3a3;
}

input {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  border: 1px solid #b39494;
  border-radius: 4px;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}
