/* AdminHomePage.css */

@keyframes shine {
  to {
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.8), 0 0 40px rgba(255, 255, 255, 0.8);
  }
}

@keyframes moveOutline {
  0% {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1), 0 0 20px rgba(255, 255, 255, 0.8);
  }
  25% {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1), 20px 0 20px rgba(255, 255, 255, 0.8);
  }
  50% {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1), 0 20px 20px rgba(255, 255, 255, 0.8);
  }
  75% {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1), -20px 0 20px rgba(255, 255, 255, 0.8);
  }
  100% {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1), 0 0 20px rgba(255, 255, 255, 0.8);
  }
}

.admin-home-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  background: rgba(255, 255, 255, 0.5); /* White with 0.5 transparency */
  border-radius: 8px; /* Match the border-radius of your container */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  position: relative;
  overflow: hidden;
  animation: moveOutline 3s linear infinite;
}

/* Add shine effect to the box-shadow on hover */
.admin-home-container:hover {
  animation: moveOutline 3s linear infinite, shine 1.5s linear infinite;
}

header {
  margin-bottom: 30px;
}

h1 {
  font-size: 2rem;
  color: #333;
}

.admin-features {
  display: flex;
  justify-content: space-around;
}

.admin-feature {
  max-width: 250px;
}

h2 {
  color: brown;
}
