.container {
  display: flex;
}

.toggle-btn {
  font-size: 20px;
  color: #fff;
  background-color: #333;
  cursor: pointer;
  padding: 10px;
  text-align: center;
}

.toggle-btn.open {
  margin-left: 250px; /* Adjust the margin based on the updated sidebar width */
}

.sidebar {
  background: linear-gradient(to right, #d773c0, #714392);
  width: 350px; /* Adjust the width based on your preference */
  height: 100%;
  transition: margin-left 0.3s ease; /* Change width to margin-left */
  display: flex;
  flex-direction: column;
}

.sidebar-content {
  padding: 20px;
  color: #fff;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

li {
  margin-bottom: 10px;
  cursor: pointer;
  transition: color 0.3s ease;
}

li:hover {
  color: #28a745;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 20px;
}

.nav-links {
  display: flex;
  flex-direction: column;
}

.nav-links a {
  color: #fff;
  text-decoration: none;
  padding: 10px;
  margin-top: 10px;
}

.nav-links a:hover {
  background-color: #714392;
  border-radius: 5px;
}
