/* HomePage.css */

body {
  background-image: url('https://img.freepik.com/free-vector/abstract-falling-lines-blue-background_78370-629.jpg');
}

.home-container {
  background-color: rgba(255, 255, 255, 0.5);
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  height: 450px;
  max-width: 1000px;
  padding: 80px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: box-shadow 0.3s ease; /* Add transition for smooth effect */

  /* Add shine effect on hover */
  position: relative;
  overflow: hidden;
}

/* Add shine keyframes animation */
@keyframes shine {
  to {
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.8), 0 0 40px rgba(255, 255, 255, 0.8);
  }
}

/* Apply shine animation on hover */
.home-container:hover {
  animation: shine .5s linear infinite, moveOutline 3s linear infinite;
}

header {
  margin-bottom: 30px;
}

h1 {
  font-size: 2rem;
  padding-top: 60px;
  color: rgb(248, 177, 177);
}

.features {
  display: flex;
  justify-content: space-around;
  margin-bottom: 40px;
}

.feature {
  max-width: 250px;
}

h2 {
  color: whitesmoke;
}

.cta-section {
  margin-top: 20px;
}

.cta-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  font-size: 1.2rem;
}

.cta-button:hover {
  background-color: #0056b3;
}

/* Add the moveOutline keyframes animation */
@keyframes moveOutline {
  0% {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1), 0 0 20px rgba(255, 255, 255, 0.8);
  }
  25% {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1), 20px 0 20px rgba(255, 255, 255, 0.8);
  }
  50% {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1), 0 20px 20px rgba(255, 255, 255, 0.8);
  }
  75% {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1), -20px 0 20px rgba(255, 255, 255, 0.8);
  }
  100% {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1), 0 0 20px rgba(255, 255, 255, 0.8);
  }
}
