/* UserTypeSelection.css */

@keyframes moveOutline {
  0% {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1), 0 0 20px rgba(255, 255, 255, 0.8);
  }
  25% {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1), 20px 0 20px rgba(255, 255, 255, 0.8);
  }
  50% {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1), 0 20px 20px rgba(255, 255, 255, 0.8);
  }
  75% {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1), -20px 0 20px rgba(255, 255, 255, 0.8);
  }
  100% {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1), 0 0 20px rgba(255, 255, 255, 0.8);
  }
}

.user-type-selection-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 120px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: rgba(255, 255, 255, 0.5); /* White with 0.5 transparency */
  text-align: center;
  position: relative;
  overflow: hidden;
  animation: moveOutline 3s linear infinite;
}

h2 {
  color: #333;
}

.user-type-buttons {
  display: flex;
  flex-direction: column;
}

button {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.user-button {
  background-color: #007bff;
  color: #fff;
}

.admin-button {
  background-color: #28a745;
  color: #fff;
}

button:hover {
  opacity: 0.9;
}
